*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span{
    font-weight: bold;
    font-size: 25px;
}
.shop{
    color: red;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 30px;
    background-color: white;
    position: fixed;
    z-index: 99;
    border: 1px solid #ededed;
}
.nav{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 17px;
    align-items: center;
}
.iconnav{
    display: flex;
    gap: 18px;
    margin-left: 30px;
}
i{
    font-size: 12px;
}